.jumbotron {
	background-color: #9542FF;
}

/* Added responsive background image*/
body {
	background: url("../images/gamebackground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	background-color: #17EBCE

}

